@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700);

// COLORS --------
$primary: (hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDarkblue: hsl(229, 57%, 11%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background: url(./images/bg-desktop.png);
  background-position: 0 100%;
  background-size: 100vw 50%;
  background-repeat: no-repeat;
  background-color: $veryDarkblue;
}

.fylo-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 5fr;
  column-gap: 30px;

  &__icons {
    background-color: $darkBlue;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 50px;
    border-radius: 50% 50% 87% 13% / 18% 74% 26% 82%;
    border-top-right-radius: 50%;

    &__top {
    }

    &__btm {
      display: flex;
      flex-direction: row;
      column-gap: 18px;
      align-items: center;
      &__img {
        padding: 20px;
        background-color: $veryDarkblue;
        border-radius: 10px;
        height: 55px;
        width: 55px;
        position: relative;

        & img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__data {
    background-color: $darkBlue;
    color: white;
    margin: 50px 0;
    padding: 45px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    &__1 {
      margin-bottom: 15px;
    }

    &__2 {
      margin-bottom: 10px;
      & input[type="range"] {
        -webkit-appearance: none;
        padding: 0;
        outline: none;
        width: 100%;
        // background-color: $veryDarkblue;
        border-radius: 10px;
        background: linear-gradient(
          90deg,
          rgba(255, 197, 128, 1) 0%,
          rgba(255, 118, 239, 1) 100%,
          rgba(252, 176, 69, 1) 100%
        );

        &:focus {
          outline: none;
        }

        &::-webkit-slider-runnable-track {
          border-radius: 15px;
          height: 16px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          margin-top: 1px;
          background-color: white;
          border-radius: 0.5rem;
          height: 0.8rem;
          width: 0.8rem;
        }
      }
    }

    &__3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__after {
      position: absolute;
      top: 0%;
      right: 5%;
      padding: 10px 26px;
      padding-bottom: 45px;
      background-color: white;
      color: $veryDarkblue;
      text-transform: uppercase;

      border-radius: 5px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 90% 75%, 0% 75%);

      & span {
        font-weight: 800;
        font-size: 2.5rem;
      }
    }
  }
}

.footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  font-size: 13px;
  text-align: center;

  &__attribution {
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 20px;
  }

  &__attribution a {
    color: white;
    font-weight: 700;
    &:hover {
      color: cyan;
    }
  }
}

@media screen and (max-width: 1100px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $veryDarkblue;
  }

  .fylo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
  }

  .fylo-content__icons {
    width: 400px;
    align-self: center;
  }

  .fylo-content__data__after {
    top: unset;
    right: unset;
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 26px;
    background-color: white;
    color: $veryDarkblue;
    text-transform: uppercase;
    border-radius: 15px;

    & span {
      font-weight: 800;
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .fylo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $veryDarkblue;
  }

  .fylo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
  }

  .fylo-content__icons {
    width: 500px;
    align-self: center;
  }
}
