@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  background: url(./images/bg-desktop.png);
  background-position: 0 100%;
  background-size: 100vw 50%;
  background-repeat: no-repeat;
  background-color: #0c122c; }

.fylo-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 5fr;
  column-gap: 30px; }
  .fylo-content__icons {
    background-color: #1d2c67;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 50px;
    border-radius: 50% 50% 87% 13% / 18% 74% 26% 82%;
    border-top-right-radius: 50%; }
    .fylo-content__icons__btm {
      display: flex;
      flex-direction: row;
      column-gap: 18px;
      align-items: center; }
      .fylo-content__icons__btm__img {
        padding: 20px;
        background-color: #0c122c;
        border-radius: 10px;
        height: 55px;
        width: 55px;
        position: relative; }
        .fylo-content__icons__btm__img img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
  .fylo-content__data {
    background-color: #1d2c67;
    color: white;
    margin: 50px 0;
    padding: 45px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; }
    .fylo-content__data__1 {
      margin-bottom: 15px; }
    .fylo-content__data__2 {
      margin-bottom: 10px; }
      .fylo-content__data__2 input[type="range"] {
        -webkit-appearance: none;
        padding: 0;
        outline: none;
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(90deg, #ffc580 0%, #ff76ef 100%, #fcb045 100%); }
        .fylo-content__data__2 input[type="range"]:focus {
          outline: none; }
        .fylo-content__data__2 input[type="range"]::-webkit-slider-runnable-track {
          border-radius: 15px;
          height: 16px; }
        .fylo-content__data__2 input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          margin-top: 1px;
          background-color: white;
          border-radius: 0.5rem;
          height: 0.8rem;
          width: 0.8rem; }
    .fylo-content__data__3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .fylo-content__data__after {
      position: absolute;
      top: 0%;
      right: 5%;
      padding: 10px 26px;
      padding-bottom: 45px;
      background-color: white;
      color: #0c122c;
      text-transform: uppercase;
      border-radius: 5px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 90% 75%, 0% 75%); }
      .fylo-content__data__after span {
        font-weight: 800;
        font-size: 2.5rem; }

.footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  font-size: 13px;
  text-align: center; }
  .footer__attribution {
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 20px; }
  .footer__attribution a {
    color: white;
    font-weight: 700; }
    .footer__attribution a:hover {
      color: cyan; }

@media screen and (max-width: 1100px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0c122c; }

  .fylo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-gap: 30px; }

  .fylo-content__icons {
    width: 400px;
    align-self: center; }

  .fylo-content__data__after {
    top: unset;
    right: unset;
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 14px 26px;
    background-color: white;
    color: #0c122c;
    text-transform: uppercase;
    border-radius: 15px;
    clip-path: unset; }
    .fylo-content__data__after span {
      font-weight: 800;
      font-size: 2.5rem; } }
@media screen and (max-width: 800px) {
  .fylo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    clip-path: unset; } }
@media screen and (max-width: 600px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0c122c; }

  .fylo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    clip-path: unset; }

  .fylo-content__icons {
    width: 500px;
    align-self: center; } }

/*# sourceMappingURL=style.css.map */
